body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.showMore{
  cursor: pointer;
  text-decoration: underline;
}

li{
  list-style-type: none;
  padding: 2px;
  cursor: pointer;
}
.dropdown{
  border: 1px solid black;
  width: 520px;
}
.smart-dropdown{
  display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}
.select{
  position: relative;
}


.dropdown input{
  padding: 10px;
  margin: 10px;
  width: 85%;
}
.select-location{
  padding: 10px;
   width: 500px;
}
.country-list{
  text-align: left;
  margin: 10px 25px;
  font-size: 20px;
}

.smart-dropdown svg{
  position: absolute;
    right: 5%;
    top: 10%;
    font-size: 30px;
}

.search-field{
  position: relative;
}
.search-field svg{
  position: absolute;
  right: 9%;
  font-size: 20px;
  top: 30%;
}

.add-country{
  margin: 5px;
}

body{
  height: 100vh;
}
#root{
  height: 100%;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://picsum.photos/id/237/200/300') no-repeat center center fixed;
  height: 100%;
  background-size: 100% 100%;
}